[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
pillow = "*"

[requires]
python_version = "3.7"
