[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
black = "*"

[packages]
django = "==3.2.7"
djangorestframework = "==3.12.4"
djangorestframework-simplejwt = "==4.6.0"
django-cors-headers = "==3.8.0"
django-on-heroku = "==1.1.2"
gunicorn = "==20.1.0"
pillow = "==8.3.2"
whitenoise = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
