[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
black = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-on-heroku = "*"
gunicorn = "*"
pillow = "*"
whitenoise = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
