.page {
  display: flex;
  background-color: #eceff8;
  justify-content: space-around;
  padding: 20px;
  flex-direction: column;
}
.signIn {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  max-width: 500px;
  align-items: stretch;
  align-self: center;
  padding: 40px;
}
.logo {
  align-self: center;
  max-width: 40%;
  object-fit: contain;
}

.input {
  display: flex;
  height: 35px;
  background: #eceff8;
  border: none;
}

.label {
  font-size: large;
}

.signInButton {
  /* font-size: medium;
  color: white;
  background-color: cornflowerblue;
  border-radius: 15px; */
  align-self: center;
  top: 72px;
  /* padding: 5px 35px;
  margin: 10px;
  size: small;
  max-width: 30%; */
}

.pageTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 25px;
}

.forgotPass {
  font-size: small;
  color: #3279d5;
  text-align: right;
}
.email {
  font-size: small;
  align-self: center;
  margin: 10px;
}
