.button-primary {
	border-radius: 12px;
	font-size: 16px;
	background-color: black;
	color: white;
/*	font-family: "Gill Sans";*/
	padding: 10px 24px;
}

.button-primary:hover {
  background-color: #555555;
  color: white;
}