.equipmentGrid {
  display: flex;
  background: #eceff8;
  flex-flow: row wrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: black;
}

.equipment {
  padding: 10px;
  width: 25%;
}
