.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 25px 15px;
}

.headerButton {
  white-space: nowrap;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 1;
}

.equipmentPage {
  background: rgb(240, 240, 243);
  display: flex;
}

.equipmentPage > * {
  margin: 10px;
}

.equipmentGrid {
  display: flex;
  background: rgb(171, 172, 231);
  justify-content: space-between;
  max-width: 65%;
}

.equipmentGrid > * {
  flex-flow: row-wrap;
  align-items: center;
}

.cart {
  display: flex;
  background: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #628aba;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 30%;
}

.wrapper {
  width: 65%;
}

.tableClass {
  border-spacing: 0 14px;
  flex-grow: 1;
  flex-basis: -1;
}

.tableClass td {
  padding: 16px;
}

.tableClass th {
  margin-bottom: 10px;
  text-align: left;
  background: #eceff8;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding: 0 16px;
  color: #628aba;
}

.projectreq {
  width: 100%;
}

.projectreq td {
  background: #fff;
}
.projectreq td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.projectreq td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cellName {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
